.roomInfo_container{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header{
    margin: 5px;
    text-decoration: underline;
}

.onlineUsers{
    margin: 10px;
}

.user-container{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-left: 10px;
}

.user-avatar{
    margin-right: 10px;
}

.current-user {
    text-decoration: underline;
 
}