.image-upload {
  border-bottom: 1px solid gray;
}

.progress-bar {
  width: 100%;
  margin-bottom: 2px;
}

.image-upload-modal {
  display: flex;
  width: 60%;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
}

.caption {
  padding: 10px;
  margin: 5px;
}

.file {
  padding: 10px;
}

.preview-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
